<div class="row" *ngIf="item && !loading">
    <div class="col-sm-6">
        <editor [(object)]="item" property="UserId"></editor>
    </div>
    <div class="col-sm-6">
        <editor [(object)]="item" property="DateTime"></editor>
    </div>
    <div class="col-sm-12">
        <ul class="nav nav-tabs  nav-tabs-line">
            <li class="nav-item">
                <a class="nav-link" (click)="selectedTab('kt_exception')" [ngClass]="{'active':tab == 'kt_exception'}">Exception</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="selectedTab('kt_inner_exception')" [ngClass]="{'active':tab == 'kt_inner_exception'}">Inner Exception</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="selectedTab('kt_stack_trace')" [ngClass]="{'active':tab == 'kt_stack_trace'}">Stack Trace</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="kt_exception" [ngClass]="{'active':tab == 'kt_exception'}">
                <editor [(object)]="item" property="Exception" [decorator]="{ label: '' }"></editor>
            </div>
            <div class="tab-pane" id="kt_inner_exception" [ngClass]="{'active':tab == 'kt_inner_exception'}">
                <editor [(object)]="item" property="InnerException" [decorator]="{ label: '' }"></editor>
            </div>
            <div class="tab-pane" id="kt_stack_trace" [ngClass]="{'active':tab == 'kt_stack_trace'}">
                <editor [(object)]="item" property="StackTrace" [decorator]="{ label: '' }"></editor>
            </div>
        </div>
    </div>
</div>
<div class="row row-loading" *ngIf="loading">
    <loading></loading>
</div>