.box-item {
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    .form-group {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

::ng-deep .configuration-wrapper {
    .no-padding {
        margin-bottom: 12px;
        .form-group {
            margin-bottom: 5px;
            .kt-checkbox {
                margin-bottom: 0;
            }
        }
        .d-flex {
            label {
                min-width: 200px;
            }
        }
    }
}