.kt-header {
    margin: 0 15px;
    border-radius: 12px;
}
.kt-header-notify,
.kt-header-language {
    .dropdown-menu {
        right: 0;
        top: 100% !important;
        left: unset !important;
        transform: none !important;

        .navi {
            margin: 0;
            padding: 10px 0;
            list-style: none;

            .navi-item {
                padding: 10px;
                cursor: pointer;
                list-style: none;
                padding-left: 20px;
            }
        }
    }
}

.kt-header-language {
    .kt-pulse--brand {
        width: unset;
        color: #fff;
        margin: 0 10px;
        padding: 0 10px;

        &:hover {
            color: var(--color-active-menu) !important;
        }

        img {
            margin-right: 5px;
        }
    }
}

.kt-header__topbar-item--user {
    position: relative;

    .dropdown-menu.dropdown-menu-anim {
        right: 0;
        left: unset;
    }
}

.kt-header {
    z-index: 99 !important;
}

.symbol.symbol-20>img {
    width: 100%;
    max-width: 20px;
    height: 20px;
}

.symbol.symbol-20 .symbol-label {
    width: 20px;
    height: 20px;
}

.symbol.symbol-20 .symbol-badge {
    width: 12px;
    height: 12px;
    top: -6px;
    right: -6px;
}

.kt-absolute {
    top: -2px;
    right: -6px;
    width: 20px;
    height: 20px;
    z-index: 1000;
    position: absolute;
    font-style: normal;
    font-weight: 700;
    border-radius: 100%;
    color: #fff !important;
    font-size: 10px !important;
    background-color: #eb3e3e;
}

.kt-footer-notify {
    padding: 15px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #f7f8fa;
}

.kt-notification__item {
    position: relative;

    .new-notify {
        width: 10px;
        height: 10px;
        margin-right: 10px;
        border-radius: 100%;
        background-color: red;
        animation: blinker 2s linear infinite;
    }
}

::ng-deep .kt-notification__login {
    display: flex;
    align-items: flex-start;

    &:after {
        display: none;
    }

    .kt-notification__item-title {
        .form-group {
            margin: 0;
            margin-bottom: 5px;
        }
    }
}

@media screen and (max-width: 768px) {
    .kt-header {
        z-index: 96 !important;
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}