<div wrapper id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" (click)="toggleMenuAside()"><span></span></button>
        <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler" (click)="toggleMenuUser()"><i class="flaticon-more"></i></button>
    </div>
    <div class="kt-header-mobile__logo">
        <a routerLink="/admin">
            <img style="width: 150px;" alt="Logo" [src]="logo" />
        </a>
    </div>
</div>