<div class="kt-portlet kt-portlet-edit-form">
    <edit-header *ngIf="breadcrumbs && actions?.length" [breadcrumbs]="breadcrumbs" [actions]="actions" [processing]="processing"></edit-header>
    <div class="kt-portlet__body">
        <div class="row" *ngIf="item && !loading">
            <div class="col-sm-6"><editor [(object)]="item" property="UserId" [decorator]="{readonly: viewer}"></editor></div>
            <div class="col-sm-2"><editor [(object)]="item" property="Theme" [decorator]="{readonly: viewer}"></editor></div>
            <div class="col-sm-2"><editor [(object)]="item" property="Language" [decorator]="{readonly: viewer}"></editor></div>
            <div class="col-sm-2"><editor [(object)]="item" property="Currency" [decorator]="{readonly: viewer}"></editor></div>
        </div>
        <div class="row row-loading" *ngIf="loading"><loading></loading></div>
    </div>
</div>
