<div class="kt-portlet kt-portlet-edit-form kt-portlet--mobile" *ngIf="item" [ngClass]="{'kt-popup' : popup}">
    <edit-header *ngIf="breadcrumbs && actions && actions.length > 0" [breadcrumbs]="breadcrumbs" [actions]="actions" [processing]="processing"></edit-header>
    <div class="kt-portlet__body" *ngIf="!loading">
        <div class="kt-form kt-form--label-right">
            <div class="row">
                <div class="col-sm-4">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    {{ 'General.Information' | translate }}
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <editor [(object)]="item" property="Code" [decorator]="{ label: '', allowClear: true, readonly: true}"></editor>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <editor [(object)]="item" property="Name" [decorator]="{ label: '', allowClear: true, readonly: true}"></editor>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <editor [(object)]="item" property="Description" [decorator]="{ label: '', allowClear: true, readonly: true}"></editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="kt-portlet">
                        <div class="kt-portlet__body">
                            <view-choice-user [params]="{id: id, type: 'team', addUser: false, deleteUser: false, navigation: false}"></view-choice-user>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-form" *ngIf="!item">
            {{ message }}
        </div>
    </div>
    <div class="kt-portlet__body" *ngIf="loading">
        <loading></loading>
    </div>
</div>