<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile kt-login__fluid">
    <div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside" style="background-color: #006EDC;">
        <div class="kt-grid__item">
            <a class="kt-login__logo">
                <img [src]="logo" style="background-color: #fff;">
            </a>
        </div>
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
            <div class="kt-grid__item kt-grid__item--middle">
                <!-- <h3 class="kt-login__title">Bệnh viện Đại Học Y - Hà Nội</h3> -->
                <h4 class="kt-login__subtitle">Lazy Travel - Du lịch</h4>                
            </div>
        </div>
        <div class="kt-grid__item">
            <div class="kt-login__info">
                <div class="kt-login__copyright">
                    2025&nbsp;&copy;&nbsp;Lazy Travel - Du lịch
                </div>
                <div class="kt-login__menu">
                    <a class="kt-link" (click)="tutorial()">Hướng dẫn</a>
                    <a class="kt-link" (click)="contact()">Liên hệ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">


        <!--end::Head-->

        <!--begin::Body-->
        <div class="kt-login__body">

            <!--begin::Signin-->
            <div class="kt-login__form">
                <loading *ngIf="loading"></loading>
                <div class="kt-login__title">
                    <h3>Xác nhận tài khoản</h3>
                </div>

                <!--begin::Form-->
                <form class="kt-form" action="" novalidate="novalidate" id="kt_login_form">
                    <div class="form-group">
                        <editor [(object)]="item" property="UserName" [decorator]="{ label : '', readonly: true}"></editor>
                    </div>
                    <div class="form-group">
                        <editor [(object)]="item" property="Password" [decorator]="{ label : '', placeholder: 'Mật khẩu mới' }"></editor>
                    </div>
                    <div class="form-group">
                        <editor [(object)]="item" property="ConfirmPassword" [decorator]="{ label : '', placeholder: 'Nhập lại mật khẩu' }"></editor>
                    </div>

                    <!--begin::Action-->
                    <div class="kt-login__actions">
                        <editor-button className="btn btn-primary w-100 py-3" label="Xác nhận" [(process)]="processing" (click)="verify()"></editor-button>
                    </div>

                    <!--end::Action-->
                </form>
            </div>

            <!--end::Signin-->
        </div>

        <!--end::Body-->
    </div>
</div>