<div class="kt-portlet kt-portlet-edit-form">
    <edit-header *ngIf="breadcrumbs && actions?.length" [breadcrumbs]="breadcrumbs" [actions]="actions" [processing]="processing"></edit-header>
    <div class="kt-portlet__body">
        <div class="row" *ngIf="item && !loading">
            <div class="col-sm-4"><editor [(object)]="item" property="TripId" [decorator]="{readonly: true}"></editor></div>
            <div class="col-sm-4"><editor [(object)]="item" property="EntryType" [decorator]="{readonly: true}"></editor></div>
            <div class="col-sm-2"><editor [(object)]="item" property="RefId" [decorator]="{readonly: true}"></editor></div>
            <div class="col-sm-4"><editor [(object)]="item" property="UserId" [decorator]="{readonly: true}"></editor></div>
        </div>
        <div class="row row-loading" *ngIf="loading"><loading></loading></div>
    </div>
</div>
