<div class="row" *ngIf="item && permissions && permissions.length > 0 && !loading" [ngClass]="{'disabled':readonly}">
    <div class="col-sm-12" *ngFor="let item of permissions">
        <div class="accordion accordion-light accordion-svg-icon">
            <div class="card-header" *ngIf="item.title" (click)="item.active = !item.active">
                <div class="card-title" style="font-size: small; margin: 5px 0;" [ngClass]="{'collapsed':!item.active || readonly}">
                    <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                    <span>{{ item.title }}</span>
                </div>
            </div>
            <div class="collapse" style="margin-left: 30px;" [ngClass]="{'show':item.active || readonly}">
                <div class="card-section" *ngFor="let child of item.items">
                    <div class="card-header collapsed">
                        <span class="title"><i class="la la-long-arrow-right"></i> {{ child.title }}</span>
                        <span class="kt-switch kt-switch--icon kt-switch--sm">
                            <label>
                                <input type="checkbox" [(ngModel)]="child.selected" (change)="togglePermission(child)">
                                <span></span>
                            </label>
                        </span>
                    </div>
                    <div class="card-content collapse" [ngClass]="{'show':child.selected}">
                        <div class="card-body">
                            <ul *ngIf="child.permissions">
                                <li *ngFor="let permission of child.permissions">
                                    <label class="kt-checkbox kt-checkbox--success" [ngClass]="{'readonly':permission.ReadOnly}">
                                        <input type="checkbox" [(ngModel)]="permission.Allow" [id]="'checkbox_' + permission.Id" (change)="choicePermission(permission)">
                                        <label [attr.for]="'checkbox_' + permission.Id">
                                            {{ permission.Name }}
                                        </label>
                                        <span></span>
                                    </label>
                                    <div class="dropdown" *ngIf="permission.Types && permission.Types.length > 1" [ngClass]="{'active':permission.Allow}" (clickOutside)="permission.Active = false">
                                        <button class="btn btn-sm dropdown-toggle" type="button" [id]="'dropdown_' + permission.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [ngClass]="'btn-outline-' + permission.SelectedType.color" (click)="permission.Active = !permission.Active">
                                            {{ permission.SelectedType.label }}
                                        </button>
                                        <div class="dropdown-menu" [attr.aria-labelledby]="'dropdown_' + permission.Id" [ngClass]="{'show':permission.Active}">
                                            <div class="form-group">
                                                <label class="title">{{ 'General.Authorization' | translate }}</label>
                                                <div class="kt-checkbox-list">
                                                    <label class="kt-checkbox kt-checkbox--solid" *ngFor="let option of permission.OptionItemTypes" [ngClass]="'kt-checkbox--' + option.color">
                                                        <input type="checkbox" [checked]="option.selected" (click)="choicePermissionType(option, permission)">
                                                        {{ option.label }}
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <span class="form-text text-muted">Chia sẻ dữ liệu giữa các nhân viên</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-loading" *ngIf="loading">
    <loading></loading>
</div>