<div class="kt-portlet kt-portlet-edit-form">
    <div class="kt-portlet__body">
        <div class="row" *ngIf="item && !loading">
        <div class="col-sm-6"><editor [(object)]="item" property="RequesterId" [decorator]="{readonly: viewer}"></editor></div>
        <div class="col-sm-6"><editor [(object)]="item" property="AddresseeId" [decorator]="{readonly: viewer}"></editor></div>
        <div class="col-sm-6"><editor [(object)]="item" property="Status" [decorator]="{readonly: viewer}"></editor></div>
        </div>
        <div class="row row-loading" *ngIf="loading"><loading></loading></div>
    </div>
</div>
